*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
:root {
  --white: #fff;
  --black: #000;
  --main: #ff6e68;
  --light-black:#2c2c2c;
}
.nav {
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1) ;
  position: fixed;
  top: 0;
  background: var(--white);
  overflow: hidden;
  z-index: 1;

}

.container {
  width: 1300px;
  margin: 0 auto;
}
.nav_container {
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
 
}
.nav_left img{
  width: 100px;
}
.header {
  background: url("./images/banner.jpg");
  width:100%;
  height: 90vh;
}

.cart-icon{
  color: var(--main);
  font-size: 25px;
}
.basket{
  position: relative;
}
.basket span{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height:20px;
  width:20px;
  border-radius: 10px;
  background: var(--light-black);
  right: -12px;
  top: -10px;
  color: var(--white);
  font-size: small;
}
a{
  text-decoration: none;
}

.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-3{
  width: 25%;
}
.product{
  width: 100%;
  padding: 25px;
  overflow: hidden;
}
.product-image{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.product-image img{
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
 
  }
  .product-image img:hover{
    transform: scale(1.2);
    overflow: hidden;
  }
  
.product-name {
  margin: 10px 0px;
  text-transform: capitalize;
  color: #707070;
}
.col-6{
  width:50%;
}
.col-2{
  width: 16.33333333333333%;
}
.col-9{
  width: 75%;
}
.product-discount-price{
  text-align: right;
  font-size: 18px;
}
.product-price .discount-price{
  font-weight: 500;
  color: silver;
  font-size: 14px;
}
.actual-price {
	text-decoration: line-through;
	font-size: 18px;
}
.mtop-100{
  margin-top: 100px;
}
.details-image{
  width: 100%;
  height: auto;
  padding-right: 30px;
}
.details-image img{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  
}
.details-name{
  font-size: 28px;
  color: #2c2c2c;
  font-weight: 400;
  text-transform: capitalize;
  
}
.details-actual-price{
  text-decoration: line-through;
  font-size: 20px;
}
.details-discount-price{
  font-size: 20px;
  margin-left: 20px;
}
.details-price{
  margin: 10px 5px;
}
.inc-dec{
  display: flex;
  margin: 0;
 
}
.inc,.dec,.quantity{
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border: 2px solid silver;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px !important;
}
.quantity{
  border-left: none !important;
  border-right: none !important;
}
.btn-default {
	margin-left: 10px;
	width: 100%;
	border: none;
	background: var(--main);
	color: var(--white);
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
}
.details-desc{
  margin-top: 15px;
}
.details-desc h4{
 font-weight: 600;
}
.details-desc div{
  margin-top: 10px;
  font-size: 16px;
 }
.inc,.dec{
  cursor: pointer;
}

.cart h3{
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 25px;
}
.cart-image img{
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.vertical-align{
  align-items: center;
  margin-top: 10px;
}

.cart-details{
  background: #f4f6f8;
	padding: 10px;
}
.cart-product .inc-dec{
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-left: -10px;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.cart-name{
  font-size: 15px;
}
.cart-price .cart-totalPrice{
  font-size: 15px;
}
.mt-20{
  margin-top: 20px;
}
.-ml-10{
  margin-left: -10px;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.cart-delete{
  cursor: pointer
}
.summary{
  padding:10px
}
.summary-heading {
	background: #f4f6f8;
	padding: 10px;
}
.summary-details {
	background: var(--main);
	color: var(--white);
	padding: 15px;
}
.mb-10 {
	margin-bottom: 10px;
}
.checkout {
	border: none;
	cursor: pointer;
	outline: none;
	background: var(--white);
	color: var(--main);
	width: 100%;
	padding: 12px 5px;
	font-size: 17px;
	text-transform: uppercase;
}
.pl-5{
  padding-left: 5px;
}
.pr-6{
  padding-right: 6px;
}


@media(max-width: 765px){
  .container{
    width: 100%;
    padding: 0 30px
  }
  .header {
    background: url("./images/banner.jpg");
    width:100%;
    height: 90vh;
  }
  .col-3{
    width:50%;
  }
  .details-image{
    padding-right: 0;
  }
  .product-discount-price{
    font-size: 18px;
    text-align: left;
  }
  .header{
    padding-top: 10px;
    background: none;
    width: 0;
    height: 0;
    margin-top: 20px;
  }
  .cart-details{
    display:none;
  }
  .cart h3{
    text-align: center;
  }
  .cart-inc-dec{
    display: flex;
    justify-content: center;
    padding-left: 10px !important;

  }
  .summary-col{
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px !important;
    padding: 5px;
  }
  .col-2 {
		width: 100%;
		text-align: center;
		padding: 5px;
	}
	.col-6 {
		width: 100%;
	}
	.col-9 {
		width: 100%;
  }
  .cart-responsive
  {
  width: 100% !important;
  text-align: center !important;
}
.cart-responsive-full
  {
  width: 100% !important;
  text-align: center !important;
  border-bottom: 1px solid grey;
}
.cart-responsive-name
  {
  text-align: center !important;
}
.cart-responsive-image
  {
  text-align: center !important;
  padding-left: 20px!important;
}
.cart-responsive-totalPrice{
  text-align: center !important;
}
.pr-6{
  padding: none !important;
}
.-ml-10{
  padding: none !important;
}
.pl-5{
  padding: none !important;
}
.product-image{
  height: 200px;
}

}


@media(max-width: 400px){
  .container{
    width: 100%;
    padding: 0 30px
  }
  .header {
    background: url("./images/banner.jpg");
    width:100%;
    height: 90vh;
  }
  .col-3{
    width:50%;
  }
  .details-image{
    padding-right: 0;
  }
  .product-discount-price{
    font-size: 18px;
    text-align: left;
  }
  .header{
    padding-top: 10px;
    background: none;
    width: 0;
    height: 0;
    margin-top: 20px;
  }
  .cart-details{
    display:none;
  }
  .cart h3{
    text-align: center;
  }
  .cart-inc-dec{
    display: flex;
    justify-content: center;
    padding-left: 5px !important;
  }
  .summary-col{
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px !important;
    padding: 5px;
  }
  .col-2 {
		width: 100%;
		text-align: center;
		padding: 5px;
	}
	.col-6 {
		width: 100%;
	}
	.col-9 {
		width: 100%;
  }
  .cart-responsive
  {
  width: 100% !important;
  text-align: center !important;
}
.cart-responsive-full
  {
  width: 100% !important;
  text-align: center !important;
  border-bottom: 1px solid grey;
}
.cart-responsive-name
  {
  text-align: center !important;
  padding-left: 25px!important;
}
.cart-responsive-image
  {
  text-align: center !important;
  padding-left: 20px!important;
}
.pr-6{
  padding: none !important;
}
.-ml-10{
  padding: none !important;
}
.pl-5{
  padding: none !important;
}

}